#mainDiv {
  margin-top: 10%;
  background-color: black;
}
h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
}
p {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
#userCity {
  margin-top: 2%;
}
#copyrightDiv {
  margin-top: 5%;
}
#tButton {
 margin-bottom: 20px;
 margin-top: 0px;
}